﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "DvD's - Programmer Demo Project";
}

<center>
    <div class="principal">
        <h3>
            Insert Amazon's Competitors link
        </h3>
        <input id="competitorURL" type="text" class="" />
        <button id="start_button" type="button">Start!</button>
    </div>
    <div class="info">
        <h4><span id="info_message"></span></h4>
        <div id="spinner" class="loader invisible" style="font-size:24px"></div>
    </div>
    <div class="download invisible">
        <button id="download" type="button">Download the file</button>
    </div>
</center>
<script src="~/Scripts/Demo/Index.js"></script>
